<%= render 'shared/navbar' %>

<div class="grid">
  <% @parts.each do |part| %>

  <div class="card-trip">
    <%= image_tag(part.picture_url) %>

      <div class="card-trip-infos">
        <div>
          <h2><%= link_to part.name, part_path(part) %></h2>
          <p><%= part.description %> </p>
        </div>

        <h2 class="card-trip-pricing">€ <%= part.price %></h2>
      </div>
    </div>
  <% end %>
</div>
