<div id="sidenavbar" class="sidebar">
  <!-- style="transition:0.3s all ease-in-out;" -->

    <div class="sidebar_link-toggle">
      <a class="closebtn">&times;</a>
    </div>

    <div class="sidebar_image">
      <% if current_user.photo? %>
        <%= cl_image_tag current_user.photo, class: "avatar-xl"%>
      <% else %>
        <%= cl_image_tag "user_nixstg", class: "avatar-xl"%>
      <% end %>
    </div>
    <br>
      <p class="email-address">Logged in: <%= current_user.email %></p>
      <br>

      <%= link_to 'Home', dashboard_path, class: "sidebar_link" %>

      <%= link_to 'Buy a part', parts_path, class: "sidebar_link" %>

      <%= link_to 'Sell a part', new_part_path, class: "sidebar_link" %>

      <%= link_to 'Trade history', history_path, class: "sidebar_link" %>

      <%= link_to 'User profile', profile_path, class: "sidebar_link" %>

      <%= link_to 'Logout',  destroy_user_session_path, method: :delete, class: "sidebar_link" %>

</div>


