<h2 class="welcome">Welcome, <%= current_user.first_name %> <%= current_user.last_name %> - <%= current_user.address %> </h1>

  <div class="grid">
    <div class="card-dashboard">

      <div class="card-dashboard-info">
        <h2><%= link_to "Buy a part", parts_path %></h2>
      </div>

    </div>

    <div class="card-dashboard">

      <div class="card-dashboard-info">
        <h2><%= link_to "Sell a part", new_part_path %></h2>
      </div>

    </div>

    <div class="card-dashboard">

      <div class="card-dashboard-info">
         <h2><%= link_to "Trade history" %></h2>
      </div>

    </div>
  </div>
