<<<<<<< HEAD
<%= render 'shared/navbar' %>
<<<<<<< HEAD

<h1>Welcome to Falcon Spare Parts</h1>
=======
=======
>>>>>>> b3f1394b7cb9bbf4b5d71c2359a89ec41ea02df1
<h1>Hello <%= current_user.first_name %> <%= current_user.last_name %></h1>

 <%= cl_image_tag current_user.photo, transformation:[{gravity: "face"}] %>

<h2>menu</h2>
<ul>
  <li>
    <%= link_to "Edit user", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  </li>
</ul>
<<<<<<< HEAD
>>>>>>> b928e16d2de297f5f6922a255ae595b725631ecd
=======
>>>>>>> b3f1394b7cb9bbf4b5d71c2359a89ec41ea02df1
