<div class="container" id="profile-container">

  <h1 class="profile-header">Your profile:</h1>

  <div class="grid">

    <div class="user-picture">
      <div>
        <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo, class: "avatar-huge"%>
        <% else %>
          <%= cl_image_tag "user_nixstg", class: "avatar-huge"%>
        <% end %>
      </div>
    </div>

    <div class="user-info">
      <div>
        <p><strong>First name: </strong><%= current_user.first_name %></p>
      </div>

      <div>
        <p><strong>Last name: </strong></strong><%= current_user.last_name %></p>
      </div>

      <div>
        <p><strong>Seller: </strong><%= current_user.seller %></p>
      </div>

      <div>
        <p><strong>Address: </strong><%= current_user.address %></p>
      </div>


    </div>
    <div>
      <%= link_to "Edit profile", edit_user_registration_path, class: "btn" %>
    </div>
  </div>

</div>

