<div class="container mt-2" style="width: 50%">
      <%= simple_form_for :search, method: "get" do |f| %>

      <%= f.input :Trades_from, as: :string, required: false, input_html: {id: "start_date"} %>

      <%= f.input :Trades_to, as: :string, required: false, input_html: {id: "end_date"} %>

      <%= f.button :submit, "Go", class: "btn btn-primary" %>

       <% end %>


</div>





  <div class="pt-3">
    <h3 class="text-center">Your online Parts</h3>
    <table class="table table-hover table-borderless">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th class="text-left" scope="col">Part</th>
          <th scope="col">Uploaded</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @parts.each do |part| %>
          <% if part.user_id == current_user.id %>
            <% if part.trades.count == 0 %>
              <tr>
                  <% i = i + 1 %>
                <th scope="row"><%= i %></th>
                <td><%= part.name %></td>
              <td><%= part.created_at.strftime("%d-%m-%Y") %></td>
              <td>€ <%= part.price %></td>

              </tr>
            <% end %>
          <% end %>
        <% end %>

      </tbody>
    </table>

    <h3 class="text-center">Sold Parts</h3>
    <table class="table table-hover table-borderless">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th class="text-left" scope="col">Part</th>
          <th scope="col">Sold on</th>
          <th scope="col">Sold to</th>
          <th scope="col">Price</th>

        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @parts.each do |part| %>
            <% if part.user_id == current_user.id && !part.trades.empty? %>
              <tr>
                  <% i = i + 1 %>
                <th scope="row"><%= i %></th>
                <td><%= part.name %></td>
              <td><%= part.updated_at.strftime("%d-%m-%Y") %></td>
              <td><%= part.trades.first.user.first_name %> <%= part.trades.first.user.last_name %></td>
              <td>€ <%= part.price %></td>
              </tr>
            <% end %>
        <% end %>


      </tbody>
    </table>
  </div>

  <div>
    <h3 class="text-center">Bought Parts</h3>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th class="text-left" scope="col">Part</th>
          <th scope="col">Bought on</th>
          <th scope="col">Bought from</th>
          <th scope="col">Price</th>

        </tr>
      </thead>
      <tbody>
        <% j = 0 %>
        <% @current_user.trades.each do |trade| %>
        <tr>
          <% j = j + 1 %>
          <th scope="row"><%= j %></th>
          <td><%= Part.find(trade.part_id).name %></td>
          <td><%= trade.date %></td>
          <% first = User.find(Part.find(trade.part_id).user_id).first_name %>
          <% last = User.find(Part.find(trade.part_id).user_id).last_name  %>
          <td><%= first %> <%=last%></td>
          <td>€ <%= Part.find(trade.part_id).price %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

