<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Parts Sold</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @current_user.parts.each do |part| %>
      <% if part.sold %>
        <tr>
            <% i = i + 1 %>
          <th scope="row"><%= i %></th>
          <td><%= part.name %></td>
        </tr>
          <% end %>
      <% end %>

    </tbody>
  </table>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Parts purchased</th>
        <th colspan="2" scope="col">Bought from</th>
      </tr>
    </thead>
    <tbody>
      <% j = 0 %>
      <% @current_user.trades.each do |trade| %>
      <tr>
        <% j = j + 1 %>
        <th scope="row"><%= j %></th>
        <td><%= Part.find(trade.part_id).name %></td>
          <td><%= User.find(Part.find(trade.part_id).user_id).first_name %></td>
          <td><%= User.find(Part.find(trade.part_id).user_id).last_name %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>

