<div class="container">
  <div class="pt-3">
    <h3 class="text-center">Sold Parts</h3>
    <table class="table table-hover table-borderless">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th class="text-left" scope="col">Part</th>
          <th scope="col">Sold on</th>
          <th scope="col">Sold to</th>
          <th scope="col">Price</th>
         <%= date_select :start_date, :startdate , :class => 'datepicker' %>
         <%= date_select :end_date, :enddate , :class => 'datepicker' %>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @current_user.trades.each do |trade| %>
        <% if Part.find(trade.part_id).sold %>
          <tr>
              <% i = i + 1 %>
            <th scope="row"><%= i %></th>
            <td><%= Part.find(trade.part_id).name %></td>
          <td><%= trade.date %></td>
          <% first = User.find(Part.find(trade.part_id).user_id).first_name %>
          <% last = User.find(Part.find(trade.part_id).user_id).last_name  %>
          <td><%= first %> <%=last%></td>
          <td><%= Part.find(trade.part_id).price %> EUR</td>
          </tr>
        <% end %>
        <% end %>

      </tbody>
    </table>
  </div>

  <div>
    <h3 class="text-center">Bought Parts</h3>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th class="text-left" scope="col">Part</th>
          <th scope="col">Bought on</th>
          <th scope="col">Bought from</th>
          <th scope="col">Price</th>

        </tr>
      </thead>
      <tbody>
        <% j = 0 %>
        <% @current_user.trades.each do |trade| %>
        <tr>
          <% j = j + 1 %>
          <th scope="row"><%= j %></th>
          <td><%= Part.find(trade.part_id).name %></td>
          <td><%= trade.date %></td>
          <% first = User.find(Part.find(trade.part_id).user_id).first_name %>
          <% last = User.find(Part.find(trade.part_id).user_id).last_name  %>
          <td><%= first %> <%=last%></td>
          <td><%= Part.find(trade.part_id).price %> EUR</td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

